@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 62.65%;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
}

.search {
  position: sticky;
  z-index: 88;
  top: 0;
  background-color: white;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10rem;
}

@media only screen and (min-width:900px) {
  html {
    font-size: 70%;
    scroll-behavior: smooth;
  }
}